
/* Inicio css stylesheet*/


.hidden{
    display: none;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

body{
    background: #E9ECF8;
}

.container{
    margin:1rem;
}

/* logo div css*/

.logo-div{
    width: 10vw; 
}

.logo-div svg{
    margin: 10px 0 0 23px;
}

/* fin logo div css*/

/* center div css*/

.center-div{
    width: 60vw;
}


.center-div textarea{
    display:block;
    box-sizing: border-box;
    width: 85%;
    height: 82vh;
    padding: 6rem 0 0 1rem;

    font-size: 2rem;
    line-height: 3rem;
    resize: none;
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    background: none;
    border: none;
    outline: none;
}

.center-div svg{
    display: inline-block;
    padding-right: .3rem;
    vertical-align: middle;
}

.center-div p{
    margin-top: 1rem;
    display: inline-block;
    width: 90%;
    font-size: .8rem;
    color: #495057;
    opacity: 0.8;
    
    
}

.center-div button{
    height: 8vh;
    width: 45%;
    margin-top: .8rem;
    border-radius: 18px;
}

.btn-encrypt{
    border: none;
    color: white;
    background: #0A3871;
    transition: 200ms all;
}

.btn-decrypt{
    color: #0A3871;
    border: #0A3871 1px solid;
    
    transition: 200ms all;
}

.btn-encrypt:hover, .btn-decrypt:hover, .encriptado button:hover{
    transform: scale(102%);
}

/*fin centerr div css*/

/*inicio encrypted div css*/

.encrypted-div{
    min-height: 100vh;
    background: white;
    width: 24vw;
    text-align: center;
    box-sizing: border-box;
    padding: 2rem 1rem;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}


.encriptado, .not-message{
    height: 100%;
}

/*inicio not message css*/

.not-message{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.not-message svg{
    width: 100%;
    height: 50%;
}

.not-message h2{
    position: relative;
    bottom: 2rem;
    width: 90%;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    /* or 29px */

    text-align: center;

    /* Gray/gray-500 */

    color: #343A40;
}

.not-message p{
    position: relative;
    bottom: 1rem;
    width: 90%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    /* or 27px */

    text-align: center;

    /* Gray/gray-500 */

    color: #6C757D;
}

/* fin not message css*/

/*inicio encriptado css*/
.encriptado p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    text-align: left;
    margin: 0 auto;
    width: 90%;
    height: 90%;
    word-break: break-all;
    white-space: normal;
    
}

.encriptado button{
    width: 90%;
    height: 7%;
    margin: 1rem 0;
    border: #0A3871 1px solid;
    background: white;
    color: #0A3871;
    font-size: 1.3rem;
    border-radius: 24px;
    cursor: pointer;
}



/*fin encriptado css*/

@media screen and (max-width: 768px){


    .logo-div{
        width: 100%;
        height:auto;
    }

    .center-div{
        width: 100%;
        text-align: center;
        height: auto;
        padding: 2rem 0 3.5rem;
    }

    .center-div textarea{
        height: 50vh;
        padding-top: 4rem;
    }

    .center-div p{
        text-align: left;
        font-size: .7rem;
    }

    .center-div button{
        width: 49%;
    }

    .encrypted-div{
        width: 100%;
        min-height: 2vh;
        /* shadow */
        box-shadow: 0px 3px 32px 2px rgba(0, 0, 0, 0.18);
        border-radius: 32px;
    }
        
    .encrypted-div svg{
        display: none;
    }


    .not-message h2, .not-message p{
        height: auto;
        bottom: 0;
    }

    .encriptado p{
        height:auto;
    }

    .encriptado button{
        width: 100%;
        height: 10vh;
        margin-bottom: 0;
    }

    
}

@media screen and (max-width: 375px){
    .center-div button{
        width: 100%;
    }
}